# Laravel Files
#-------------------------
/vendor
/node_modules
Homestead.yaml
Homestead.json


# IDE Files
#-------------------------
/nbproject/
.idea
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Sublime Text cache files
#-------------------------
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
*.test.*

# Mac
#-------------------------
*.DS_Store
*.nosync
composer.lock
